<div ng-class="{ active: $ctrl.isNotificationPanelOpen }" class="dropdown menu-icons-dropdown menu-icons-dropdown--hpad" notification-click-outside>
  <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-href="#"
    ng-click="$ctrl.toggleNotificationMenu()">
    <span class="glyphicon glyphicon-bell" ng-class="{ 'bell-ring': $ctrl.notificationCountChanged }"></span>
    <span ng-if="$ctrl.notificationsCount > 0" class="badge badge--danger">{{$ctrl.notificationsCount}}</span>
  </a>
  <notification-menu ng-if="$ctrl.isNotificationPanelOpen"></notification-menu>
</div>