@import '../navbar/navbar.constant';

.menu-icons-dropdown.active {
  @extend .app-navbar__link--is-active;
}

.badge--danger {
  background-color: #d03732;
}

.bell-ring {
  animation: ring 3s .4s ease-in-out infinite;
}

@keyframes ring {
  0% { transform: rotate(0); }
  4% { transform: rotate(30deg); }
  8% { transform: rotate(-28deg); }
  12% { transform: rotate(34deg); }
  16% { transform: rotate(-32deg); }
  20% { transform: rotate(30deg); }
  24% { transform: rotate(-28deg); }
  28% { transform: rotate(26deg); }
  32% { transform: rotate(-24deg); }
  36% { transform: rotate(22deg); }
  40% { transform: rotate(-20deg); }
  44% { transform: rotate(18deg); }
  48% { transform: rotate(-16deg); }
  52% { transform: rotate(14deg); }
  56% { transform: rotate(-12deg); }
  60% { transform: rotate(10deg); }
  64% { transform: rotate(-8deg); }
  68% { transform: rotate(6deg); }
  72% { transform: rotate(-4deg); }
  76% { transform: rotate(2deg); }
  80% { transform: rotate(-1deg); }
  84% { transform: rotate(1deg); }
  84% { transform: rotate(0); }
  100% { transform: rotate(0); }
}