<div ng-class="{ active: $ctrl.isNotificationPanelOpen }" class="dropdown notification-dropdown">
    <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-href="#" ng-click="$ctrl.toggleNotificationMenu()">
        <span class="glyphicon glyphicon-bell"></span>
        <span ng-if="$ctrl.notificationsCount > 0" class="badge">{{$ctrl.notificationsCount}}</span>
    </a>
    <notification-menu refresh-count="$ctrl.getNotificationCount()" ng-if="$ctrl.isNotificationPanelOpen"></notification-menu>
</div>