.notification-wrapper {
    a {
        padding: 10px;
        display: block; 
        cursor: pointer;
    }

    span {
        font-weight: 700;
    }
}

.notification-item {
    padding: 0;
    position: relative;
    display: block;
    margin-bottom: 0px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;

    a, a:hover {
        color: #333333;
    }

    &:hover {
        background-color: #eeeeee;
    }

}


.notification-item-danger span {
    color: #d03732;
}

.notification-item-success span {
    color: #5cb85c;
}

.notification-item-none {
    padding: 10px;
}

.see-all {
    padding: 10px;
    display: block;
    cursor: pointer;
    color: #ffffff;

    &:hover {
        color: #ffffff;
    }
}

.dropdown-footer {
    display: block;
    font-size: 1.2rem;
    padding: 0;
    white-space: nowrap;
    background-color: #5cb85c;

    &:hover {
         background-color: #4cae4c;
    }
}

.list-group {
    margin-bottom: 0;
}