<div class="modal-header">
    <h3 class="modal-title">Informacja dla pacjenta</h3>
</div>
<div class="modal-body">
    <p>Wizyta w dniu <strong>{{$ctrl.ntf.visitdate | date : 'dd/MM/yyyy'}}</strong> o godzinie <strong>{{$ctrl.ntf.visitdate | date : 'HH:mm'}}</strong> została <strong>{{$ctrl.ntf.type | notificationTypeFilter}}</strong> przez lek. {{$ctrl.ntf.doctorname}}.</p>
    <dl ng-if="$ctrl.ntf.rejectreason">
        <dt>Powód odrzucenia wizyty:</dt>
        <dd>{{$ctrl.ntf.rejectreason}}</dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.markAsRead()">Oznacz jako przeczytane</button>
</div>