.page-footer {
	background-color: #333;
	padding: 0 0 0 0;
	color: #ffffff;
	border-top: 1px #e6e6e6 solid;
	position: absolute;
	bottom: -80px;
	height: 80px;
	left: 0;
	width: 100%;
	z-index: 3;
}

.copyright {
	margin: 30px 0;
	
	&__title {
		margin: 0;
	}
	
	&__link {
		color: #fff;
	
		&:hover {
			text-decoration: underline;
		}
	}
}
