<ul class="list-group">
    <li ng-if="$ctrl.notifications.length === 0" class="list-group-item list-group-item-none">Brak powiadomień</li>
    <li class="list-group-item list-group-item-{{notification.type}} notification-item" ng-repeat="notification in $ctrl.notifications">
        <div class="notification-wrapper">
            <a>Wizyta w dniu {{notification.visitdate | date : 'dd/MM/yyyy'}} o godzinie {{notification.visitdate | date : 'HH:mm'}} została {{notification.type}}.</a>
        </div>
    </li>
    <li class="dropdown-footer" ng-if="$ctrl.notifications.length > 0">
        <div>
            <a class="see-all" title="Oznacz wszystkie ({{$ctrl.notifications.length}}) jako przeczytane" ng-href="#">Oznacz wszystkie ({{$ctrl.notifications.length}}) jako przeczytane</a>
        </div>
    </li>
</ul>