<ul class="nav navbar-nav navbar-left">
    <li class="dropdown">
        <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="">
            <span>Wizyty</span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu collapse-menu" aria-labelledby="dropdownMenu1">
            <li ng-class="{ active: $ctrl.isActive() }">
                <a ui-sref="visit-browse.admin-current">Przeglądaj wizyty</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="visit-signup.user">Zapisz pacjenta na wizytę</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="visit-manage">Zarządzaj terminami wizyt</a>
            </li>
        </ul>
    </li>
    <li>
        <a>Pacjenci</a>
    </li>
</ul>