<div class="container partials-content">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="center-form panel reset-pass">
        <div class="panel-body">
          <h2 class="text-center reset-pass__title">Zresetuj hasło</h2>
          <form method="post" ng-submit="$ctrl.resetPass()" name="resetPassForm">
            <div class="form-group has-feedback" ng-class="{ 'has-error' : resetPassForm.email.$invalid && resetPassForm.email.$dirty }">
                <input class="form-control input-lg" type="email" id="email" name="email" ng-model="$ctrl.email" placeholder="Email" required
                ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                <div class="help-block text-danger" ng-if="resetPassForm.email.$dirty && resetPassForm.email.$invalid" ng-messages="resetPassForm.email.$error">
                    <div ng-show="resetPassForm.email.$error.required" ng-message="required">Twój adres e-mail jest wymagany.</div>
                    <div ng-show="resetPassForm.email.$error.pattern" ng-message="pattern">Adres e-mail jest niepoprawny.</div>
                </div>
            </div>
            <button type="submit" ng-disabled="resetPassForm.$invalid" class="btn btn-lg btn-block btn-success">Resetuj hasło</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
