<ul class="list-group">
    <li ng-if="$ctrl.notifications.length === 0" class="notification-item notification-item-none">Brak powiadomień</li>
    <li class="notification-item-warning notification-item" 
        ng-repeat="notification in $ctrl.notifications">
        <div class="notification-wrapper">
            <a ng-click="$ctrl.openNotificationModal($index)" href="">
                <span>{{notification.name }} {{notification.surname}}</span> zapisał sie na wizytę <span>{{ notification.visitdate | date : 'dd/MM/yyyy'}}</span> o godzinie <span>{{notification.visitdate | date : 'HH:mm'}}</span>
            </a>
        </div>
    </li>
    <li class="dropdown-footer" ng-if="$ctrl.notifications.length > 0">
        <div>
            <a class="see-all" 
                title="Zobacz wszystkie powiadomienia" 
                ui-sref="visit-browse.admin-current" >
                Zobacz wszystkie powiadomienia
            </a>
        </div>
    </li>
</ul>