 <aside class="aside-signup">
    <h2 class="sr-only">Zarejestruj się i rezerwuj wizyty online!</h2>
    <div class="override-bg">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p class="aside-signup__title">Zarejestruj się i rezerwuj wizyty online!</p>
                    <a class="btn btn-success aside-signup__btn" ui-sref="signup">Zarejestruj się</a>
                </div>
            </div>
        </div>
    </div>
 </aside>