<div class="modal-header">
    <h3 class="modal-title">Informacja o wizycie</h3>
</div>
<div class="modal-body">
    <p>Pacjent <strong>{{$ctrl.ntf.name}} {{$ctrl.ntf.surname}}</strong> zapisał sie na wizytę <strong>{{$ctrl.ntf.visitdate | date : 'dd/MM/yyyy'}}</strong> o godzinie <strong>{{$ctrl.ntf.visitdate | date : 'HH:mm'}}</strong>.</p>
    <dl ng-if="$ctrl.ntf.description">
        <dt>Informacja od pacjenta:</dt>
        <dd>{{$ctrl.ntf.description}}</dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.accept()">Akceptuj wizytę</button>
    <button class="btn btn-danger" type="button" ng-click="$ctrl.reject()">Odrzuć wizytę</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Anuluj</button>
</div>