$navbar-menuitem-hover: #c72412;
$navbar-color: #0f2431;
$navbar-color-light: #FFFFFF;
$navbar-link-color: #333;
$navbar-border-color: #e6e6e6;
$navbar-link-hover: #f4f4f4;
$navbar-signup-color: #47a447;