<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#nav-data" class="navbar-toggle">
            <span class="sr-only">Nawigacja</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="/#top">eGabinet</a>
    </div>
    <div ng-if="$ctrl.authService.loggedIn()" class="navbar-menu">
      <notification></notification>
      <navbar-account></navbar-account>
    </div>
    <div class="navbar-collapse collapse" id="nav-data">
      <ul class="nav navbar-nav navbar-left">
        <li class="hidden">
          <a ng-href="#"></a>
        </li>
        <li>
          <a ng-href="/#articles" collapse-navbar>Aktualności</a>
        </li>
        <li>
          <a ng-href="/#offer" collapse-navbar>Oferta</a>
        </li>
        <li>
          <a ng-href="/#price-list" collapse-navbar>Cennik</a>
        </li>
        <li>
          <a ng-href="/#find-us" collapse-navbar>Odwiedź nas</a>
        </li>
        <li ng-if="$ctrl.authService.loggedIn()" role="separator" class="divider"></li>
      </ul>
      <navbar-user ng-if="$ctrl.authService.loggedIn() && !$ctrl.authService.isAdmin()"></navbar-user>
      <navbar-admin ng-if="$ctrl.authService.loggedIn() && $ctrl.authService.isAdmin()"></navbar-admin>
      <navbar-sign ng-if="!$ctrl.authService.loggedIn()"></navbar-sign>
    </div>
  </div>
</nav>