@import 'navbar.constant';

.app-navbar {
	background-color: $navbar-color-light;
	color: $navbar-link-color;
	border-color: $navbar-border-color;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);

    .container {
        position: relative;
    }

	& &__brand, 
    & &__brand:hover, 
    & &__brand:focus {
    	color: $navbar-link-color;
    }

    & .active > &__link,
    & .active > &__link:hover,
    & .active > &__link:focus,
    & &__link:hover,
    & &__link:focus,
    & &__nav .active > &__link,
    & &__nav .active > &__link:hover,
    & &__nav .active > &__link:focus,
    & &__nav &__link:hover,
    & &__nav &__link:focus,
    & &__nav .open > &__link,
    & &__nav .open > &__link:hover,
    & &__nav .open > &__link:focus {
        @extend .app-navbar__link--is-active;
    }

    & &__nav > li > &__link {
        color: $navbar-link-color; 
        text-transform: uppercase;
    }

    & &__nav .open .dropdown-menu &__link {
        color: $navbar-link-color;
        font-weight: 300;

        &:hover, &:focus {
            background-color: $navbar-link-hover;
        }
    }

    & &__toggle {
        border-color: $navbar-link-hover;

        &:hover, &:focus {
            background-color: $navbar-link-hover;
        }
    }

    &__menu-icons {
        float: right;
        margin-right: 15px;
        display: block;
        position: absolute;
        top: 0;
        right: 60px;
    
        &::after {
            content: '';
            clear: both;
            display: table;
        }
    
        @media(min-width: 768px) {
            & {
                position: static;
                margin-right: 0;
            }
        }
    }

    &__divider {
        height: 1px;
        border-top: 1px solid rgba(187, 191, 196, 0.5);
        margin: 9px 15px;
    
        @media (min-width: 768px) {
            & {
                height: 24px;
                margin: 12px 9px;
                border-top: none;
                border-bottom: none;
                border-left: 1px solid rgba(187, 191, 196, 0.5);
            }
        }
    }

    @media (min-width: 768px) {
        & &__links {
            display: flex !important;
            justify-content: center;
            margin-top: 50px;
        }   
    }
    
    @media (min-width: 992px) {
        & &__links {
            display: block !important;
            margin-top: 0px;
        }   
    }
}