.tab-content {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 20px;
  border-top-color: #ffffff;
}

.nav-tabs {
    li {
        a {
            background-color: #f5f5f5;
            border: 1px solid #dddddd;
        }
    }
}