.map-container {
	position: relative;
	padding: 0;

	.angular-google-map-container { 	
		height: 400px; 
	}
    
	.map-overlay {
		background-color: rgba(255,255,255,0.8);
		padding: 20px;
		position: absolute;
		top: 20px;
		right: 20px;
	}
}
