<section id="find-us" class="map">
  <h2 class="sr-only">Odwiedź nas</h2>
  <ui-gmap-google-map center='$ctrl.map.center' zoom='$ctrl.map.zoom' dragging='$ctrl.map.dragging' options="{scrollwheel: false}">
    <ui-gmap-marker coords="$ctrl.marker.coords" idkey="$ctrl.marker.id">
    </ui-gmap-marker>
  </ui-gmap-google-map>
  <div class="map__overlay">
    <div class="map__address">Adres:
      <div class="map__street">ul. Lorem Ipsum 10</div>
      <div class="map__locality">Warszawa</div>
    </div>
  </div>
</section>