dl {
  margin-bottom: 0;

  dt {
    margin-top: 10px;
  }

  >dt:first-child {
    margin-top: 0;
  }
}

.modal {
  &__more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  &__status-box {
    margin-top: 5px;
  
    dd,
    dt {
      display: inline-block;
    }
    
    dt {
      margin-right: 5px;
    }
  }

  &__avatar {
    width: 150px;
    height: 150px;
  }
}