.articles {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  
  @media(min-width: 768px) {
    & {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}

.box-container {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}