.alert-container {
    left: 50%;
    transform: translateX(-50%);
    margin: 65px 0;
    position: fixed;
    z-index: 1001;
    width: 100%;

    @media(min-width: 768px) {
      & {
        margin-top: 115px;
        width: 750px;
      }
    }
    
    @media(min-width: 992px) {
      & {
        margin-top: 65px;
        width: 970px;
      }
    }

    @media(min-width: 1200px) {
      & {
        margin-top: 65px;
        width: 1170px;
      }
    }

    .row {
        margin: 0;
    }
}

.col-alert {
    position: relative;
}

.remove-alert {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
}

.alert {
    margin: 0 -5px;
    box-shadow: 
      0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
      0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}