<div ng-if="$ctrl.isAlertVisible" class="container alert-container">
    <div class="row">
        <div class="col-xs-12 col-alert">
            <div class="alert" ng-class="{ 
                'alert-success': $ctrl.alertData.type === 'success',
                'alert-danger': $ctrl.alertData.type === 'danger' 
            }">{{$ctrl.alertData.message}}</div>
            <a href="#" class="remove-alert" ng-click="$ctrl.toggleVisibility()">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </div>
    </div>
</div>