.alert-dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    width: auto;
    margin-top: 0;
    right: 0;
    top: 100%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    z-index: 1000;
    min-width: 220px;

    @media (min-width: 768px) {
        & {
            min-width: 300px;
        }
    }


}

.notification-dropdown-header {
    padding: 10px;
}

.notification-header-title {
    display: inline-block;
    margin-bottom: 0;
    font-size: 1.4rem;
}

.refresh-box {
    display: inline-block;
    float: right;
    cursor: pointer;
    
    span {
        line-height: 1.8rem;
    }
}

.is-loading-notification {
    padding: 10px;
    text-align: center;
}