 <section id="price-list" class="price-list">
    <div class="container">
        <div class="text-center title-container">
            <h2>Cennik</h2>
        </div>
        <div class="row">
             <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="priceItem in $ctrl.priceList">
                <h4>{{priceItem.category}}</h4>
                <table class="table table-condensed">
                    <tr ng-repeat="categoryItem in priceItem.items">
                        <td>{{categoryItem.name}}</td>
                        <td class="price-item">{{categoryItem.price}}</td>
                    </tr>                          
                </table>   
            </div>
        </div>      
    </div>
 </section>