 <section id="price-list" class="price-list">
    <div class="container">
        <div class="text-center title-container">
            <h2>Cennik</h2>
        </div>
        <div class="row">       
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h4>Stomatologia zapobiegawcza</h4>
                <table class="table table-condensed">
                    <tr><td>Wypełnienie w zębie stałym</td><td class="price-item">70 - 120 zł</td></tr>
                    <tr><td >Wypełnienie w zębie mlecznym</td><td class="price-item">40 - 60 zł</td></tr>
                    <tr><td >Licówka</td><td class="price-item">180 - 200 zł</td></tr>
                    <tr><td >Leczenie kanałowe zęba</td><td class="price-item">170 zł</td></tr>
                    <tr><td >Opatrunek leczniczy</td><td class="price-item">40 zł</td></tr>
                    <tr><td >Leczenie zęba trzonowego</td><td class="price-item">280 zł</td></tr>
                    <tr><td >Piaskowanie</td><td  class="price-item">80 - 110 zł</td></tr>
                    <tr><td >Lakowanie</td><td  class="price-item">40 zł</td></tr>
                    <tr><td >Znieczulenie</td><td  class="price-item">20 zł</td></tr>
                    <tr><td >Wybielanie</td><td  class="price-item">300 zł</td></tr>
                </table>
            </div>  
            <div class="col-xs-12  col-sm-6 col-md-4">
                <h4>Protetyka</h4>
                <table class="table table-condensed" >
                    <tr><td >Proteza całkowita</td><td class="price-item">350 zł</td></tr>
                    <tr><td >Proteza szkieletowa</td><td class="price-item">750 zł</td></tr>
                    <tr><td >Podścielenie protezy</td><td class="price-item">60 zł</td></tr> 
                    <tr><td >Korona porcelanowa</td><td class="price-item">400 - 500 zł</td></tr>
                    <tr><td >Korona ceramiczna</td><td class="price-item">800 zł</td></tr> 
                    <tr><td >Korona tymczasowa</td><td class="price-item">100 zł</td></tr>                           
                </table>   
            </div>           
            <div class="col-xs-12  col-sm-6 col-md-4">
                <h4>Chirurgia zębów</h4>
                <table class="table table-condensed" >
                    <tr><td >Ekstrakcja zęba</td><td class="price-item">70 - 120 zł</td></tr>
                    <tr><td >Usunięcie zęba zablokowanego</td><td class="price-item">180 - 350 zł</td></tr>
                    <tr><td >Leczenie ropnia</td><td class="price-item">80 - 110 zł</td></tr>
                </table>            
            </div>
            <div class="col-xs-12  col-sm-6 col-md-4">
                <h4>Periodontologia</h4>
                <table class="table table-condensed" >
                    <tr><td >Usunięcie kamienia nazębnego</td><td class="price-item">100 zł</td></tr>
                    <tr><td >Usunięcie kamienia dziąsłowego</td><td class="price-item">100 - 150 zł</td></tr>
                    <tr><td >Wydłużenie korony</td><td class="price-item">250 zł</td></tr>
                    <tr><td >Testy nowotworowe</td><td class="price-item">150 zł</td></tr>
                </table>
            </div>
        </div>      
    </div>
 </section>