<ul class="list-group notifications">
  <li ng-if="$ctrl.notifications.length === 0" class="notifications__item notifications__item--none">Brak powiadomień</li>
  <li class="notifications__item--warning notifications__item" ng-repeat="notification in $ctrl.notifications">
    <a class="notifications__link" ng-click="$ctrl.openNotificationModal($index)" href="">
      <img ng-src="{{notification.patient.avatar}}" alt="{{notification.patient.name}} {{notification.patient.surname}}" class="notifications__link-avatar">
      <div class="notifications__link-content">
        <span class="notifications__link-content--bold">{{notification.patient.name}} {{notification.patient.surname}}</span> zapisał sie na wizytę
        <span class="notifications__link-content--bold">{{notification.visitDate | date : 'dd/MM/yyyy'}}</span> o godzinie
        <span class="notifications__link-content--bold">{{notification.visitDate | date : 'HH:mm'}}</span>
      </div>
    </a>
  </li>
  <li class="notifications__footer" ng-if="$ctrl.notifications.length > 0">
    <a class="notifications__see-all-btn" title="Zobacz wszystkie powiadomienia" ui-sref="dashboard.visits.current({filterParams: {status: 'reserved'}})">
      Zobacz wszystkie powiadomienia
    </a>
  </li>
</ul>