<div class="row visit-item" ng-class="{ 'is-even': $ctrl.isEven }">
    <div class="col-xs-2">{{$ctrl.visit.visitdate | date : 'dd/MM/yyyy'}}</div>
    <div class="col-xs-2">{{$ctrl.visit.visitdate | date : 'HH:mm'}}</div>
    <div ng-if="$ctrl.parent.type === 'user_current'" class="col-xs-4">{{$ctrl.visit.description}}{{$ctrl.visit.description.length > 0 ? '' : 'Brak'}}</div>
    <div ng-if="$ctrl.parent.type === 'user_past'" class="col-xs-4">{{visit.infofromdoctor}}{{visit.infofromdoctor.length > 0 ? '' : '-'}}</div>
    <div class="col-xs-2">
        <button type="button" ng-if="$ctrl.visit.status === 'reservation'" class="btn btn-warning btn-type-warning btn-visit-type">Oczekuje</button>
        <button type="button" ng-if="$ctrl.visit.status === 'accepted'"class="btn btn-success btn-type-success btn-visit-type">Zaakceptowano</button>
        <button ng-if="$ctrl.parent.type === 'user_current' && $ctrl.visit.status === 'canceled'" type="button" class="btn btn-danger btn-type-danger btn-visit-type">Odrzucono</button>
        <button ng-if="$ctrl.parent.type === 'user_past' && $ctrl.visit.status === 'canceled'" type="button" class="btn btn-danger btn-type-danger btn-visit-type">Odrzucono</button>
    </div>
    <div ng-if="$ctrl.parent.type === 'user_current'" class="col-xs-2">
         <button type="button" ng-if="$ctrl.visit.status === 'reservation'" class="btn btn-danger btn-visit-type" ng-click="$ctrl.cancelVisit()">Anuluj</button>
         <span class="small" ng-if="$ctrl.visit.status === 'accepted'">Jeśli chcesz odwołać tę wizytę, skontaktuj się z dentystą.</span>
         <span class="small" ng-if="$ctrl.visit.status === 'canceled'">Powód odrzucenia: {{$ctrl.visit.rejectreason}}</span>
    </div>
    <div ng-if="$ctrl.parent.type === 'user_past'" class="col-xs-2">
       {{$ctrl.visit.price}}
    </div>
</div>