<ul class="list-group">
    <li ng-if="$ctrl.notifications.length === 0" class="notification-item notification-item-none">Brak powiadomień</li>
    <li class="notification-item-{{notification.type}} notification-item" ng-repeat="notification in $ctrl.notifications">
        <div class="notification-wrapper">
            <a ng-click="$ctrl.openNotificationModal($index)" href="">Wizyta w dniu <span>{{notification.visitdate | date : 'dd/MM/yyyy'}}</span> o godzinie <span>{{notification.visitdate | date : 'HH:mm'}}</span> została <span>{{notification.type | notificationTypeFilter}}</span>.</a>
        </div>
    </li>
    <li class="dropdown-footer" ng-if="$ctrl.notifications.length > 0">
        <div>
            <a class="see-all" title="Oznacz wszystkie jako przeczytane" ng-click="$ctrl.markAllAsRead()" href="">Oznacz wszystkie jako przeczytane</a>
        </div>
    </li>
</ul>