<nav class="app-sidenav">
  <ul class="app-sidenav__list">
    <li class="app-sidenav__item" ng-class="{ 'app-navbar__link--is-active': $ctrl.isActive() }" uib-tooltip="Wizyty" tooltip-popup-delay="800" tooltip-placement="right">
      <a class="app-sidenav__link" ui-sref="dashboard.visits.current">
        <i class="glyphicon glyphicon glyphicon-list-alt"></i>
      </a>
    </li>
    <li class="app-sidenav__item" ui-sref-active="app-navbar__link--is-active" uib-tooltip="Pacjenci" tooltip-popup-delay="800" tooltip-placement="right">
      <a class="app-sidenav__link" ui-sref="dashboard.patients">
        <i class="glyphicon glyphicon glyphicon-user"></i>
      </a>
    </li>
    <li class="app-sidenav__item" ui-sref-active="app-navbar__link--is-active" uib-tooltip="Grafik" tooltip-popup-delay="800" tooltip-placement="right">
      <a class="app-sidenav__link" ui-sref="dashboard.schedule">
        <i class="glyphicon glyphicon glyphicon-time"></i>
      </a>
    </li>
  </ul>
</nav>