.article-container {
    padding: 0;
}

.article {
    margin: 20px 20px 40px 20px;

    @media(min-width: 768px) {
        & {
            margin-bottom: 20px;
        }
    }
}

.article__body {
    margin: 15px 0;
}

.article__header {
    height: 150px;
    width: 100%;
    object-fit: cover;

    @media(min-width: 768px) {
        & {
            height: 180px;
        }
    }
}

.article__title {
    font-weight: 400;
    margin: 0;
}

.article__description {
    margin-top: 15px;
    font-size: 1.4rem;
}

.article__btn-read-more {
    right: 20px;
    bottom: 20px;
}