<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">Hasło</div>
        <div class="panel-body">
            <legend>
                <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
                <span>Zmień moje hasło</span>
            </legend>
            <form name="changePassForm" ng-submit="$ctrl.changePassword()">
                <div class="form-group" ng-class="{ 'has-error' : changePassForm.oldpassword.$invalid && changePassForm.oldpassword.$dirty }">
                    <label class="control-label"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> Stare hasło</label>
                    <input class="form-control" type="password" name="oldpassword" ng-model="$ctrl.user.oldPassword" placeholder="Hasło" required>
                    <div class="help-block text-danger" ng-if="changePassForm.oldpassword.$dirty && changePassForm.oldpassword.$invalid" ng-messages="changePassForm.oldpassword.$error">
                        <div ng-message="required">Aktualne hasło jest wymagane.</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : changePassForm.newpassword.$invalid && changePassForm.newpassword.$dirty }">
                    <label class="control-label"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> Nowe hasło</label>
                    <input class="form-control" type="password" name="newpassword" ng-model="$ctrl.user.password" placeholder="Nowe hasło" ng-pattern="/^(?=.*\d)(?=.*[a-z]).{8,}$/" required>
                    <div class="help-block text-danger" ng-if="changePassForm.newpassword.$dirty && changePassForm.newpassword.$invalid" ng-messages="changePassForm.newpassword.$error">
                        <div ng-show="changePassForm.newpassword.$error.required" ng-message="required">Hasło jest wymagane.</div>
                        <div ng-show="changePassForm.newpassword.$error.pattern" ng-message="pattern">Hasło musi składać z conajmniej 8 znaków i zawierać przynajmniej jedną cyfrę.</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : changePassForm.confirmnewpassword.$invalid && changePassForm.confirmnewpassword.$dirty }">
                    <input password-match="$ctrl.user.password" class="form-control" type="password" name="confirmnewpassword" ng-model="$ctrl.user.confirmPassword" minlength="8" placeholder="Potwierdź nowe hasło">
                    <div class="help-block text-danger" ng-if="changePassForm.confirmnewpassword.$dirty && changePassForm.confirmnewpassword.$invalid" ng-messages="changePassForm.confirmnewpassword.$error">
                        <div ng-message="compareTo">Hasła muszą być takie same.</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success" ng-disabled="changePassForm.$invalid">Zmień hasło</button>
            </form>
        </div>
    </div>
</div>