<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">Hasło</div>
    <div class="panel-body">
      <legend>
        <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
        <span>Zmień moje hasło</span>
      </legend>
      <form name="changePassForm" ng-submit="$ctrl.changePassword()">
        <div class="form-group" ng-class="{ 'has-error' : changePassForm.oldPassword.$invalid && changePassForm.oldPassword.$dirty }">
          <label class="control-label">
            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> Stare hasło</label>
          <input class="form-control" type="password" name="oldPassword" ng-model="$ctrl.user.oldPassword" placeholder="Hasło" required>
          <div class="help-block text-danger" ng-if="changePassForm.oldPassword.$dirty && changePassForm.oldPassword.$invalid" ng-messages="changePassForm.oldPassword.$error">
            <div ng-message="required">Aktualne hasło jest wymagane.</div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : changePassForm.newPassword.$invalid && changePassForm.newPassword.$dirty }">
          <label class="control-label">
            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> Nowe hasło</label>
          <input class="form-control" type="password" name="newPassword" ng-model="$ctrl.user.password" placeholder="Nowe hasło" ng-pattern="/^(?=.*\d)(?=.*[a-z]).{8,}$/"
            required>
          <div class="help-block text-danger" ng-if="changePassForm.newPassword.$dirty && changePassForm.newPassword.$invalid" ng-messages="changePassForm.newPassword.$error">
            <div ng-show="changePassForm.newPassword.$error.required" ng-message="required">Hasło jest wymagane.</div>
            <div ng-show="changePassForm.newPassword.$error.pattern" ng-message="pattern">Hasło musi składać z conajmniej 8 znaków i zawierać przynajmniej jedną cyfrę.</div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : changePassForm.confirmNewPassword.$invalid && changePassForm.confirmNewPassword.$dirty }">
          <input password-match="$ctrl.user.password" class="form-control" type="password" name="confirmNewPassword" ng-model="$ctrl.user.confirmPassword"
            minlength="8" placeholder="Potwierdź nowe hasło">
          <div class="help-block text-danger" ng-if="changePassForm.confirmNewPassword.$dirty && changePassForm.confirmNewPassword.$invalid"
            ng-messages="changePassForm.confirmNewPassword.$error">
            <div ng-message="compareTo">Hasła muszą być takie same.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-success" ng-disabled="changePassForm.$invalid">Zmień hasło</button>
      </form>
    </div>
  </div>
</div>