<header id="top" class="page-header">
  <owl-carousel class="owl-carousel" items="1">  
    <owl-carousel-item>  
        <img class="img-responsive" ng-src="/assets/images/page-header1.jpg" alt="Zdrowy uśmiech 1"/> 
        <div class="owl-desc"> 
          <h2>Zarejestruj się i umów na wizytę!</h2>
        </div>
    </owl-carousel-item>  
    <owl-carousel-item>  
        <img class="img-responsive" ng-src="/assets/images/page-header2.jpg" alt="Zdrowy uśmiech 2"/>  
        <div class="owl-desc"> 
          <h2>Zadbaj o zdrowie swoich zębów!</h2>
        </div>
    </owl-carousel-item>  
  </owl-carousel>  
</header>