<div class="row list-item" ng-class="{ 'list-item--is-even': $ctrl.isEven }">
  <div class="col-xs-12 col-sm-5">
    <div class="col-xs-4 list-item__label">Pacjent:</div>
    <div class="col-xs-8 col-sm-12 list-item__content">
      <img ng-src="{{$ctrl.patient.avatar}}" alt="{{$ctrl.patient.name}} {{$ctrl.patient.surname}}" class="list-item__avatar">
      <span>
        {{$ctrl.patient.name}} {{$ctrl.patient.surname}}
      </span>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="col-xs-4 list-item__label">Email:</div>
    <div class="col-xs-8 col-sm-12 list-item__content">
      {{$ctrl.patient.email}}
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="col-xs-4 list-item__label">Status:</div>
    <div class="col-xs-8 col-sm-12 list-item__content">
      <a ng-href="#" uib-tooltip="Usuń użytkownika" ng-click="$ctrl.deletePatient()" class="btn btn-warning list-item__action-btn">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
      <a uib-tooltip="Zobacz wizyty pacjenta" ui-sref="dashboard.visits.current({filterParams: {userName: '{{$ctrl.patient.name}} {{$ctrl.patient.surname}}'}})"
        class="btn btn-warning list-item__action-btn">
        <i class="glyphicon glyphicon-info-sign"></i>
      </a>
    </div>
  </div>
</div>